.input-wrapper{
    background-color: white;
    width:100%;
    border-radius:10px; 
    height: 2.5rem; 
    padding: 0 15px; 
    box-shadow: 0px 0px 8px #dddd;
    display:flex; 
    align-items: center; 

}

.input{
    background-color: transparent; 
    border: none;
    height: 100%; 
    font-size: 1.25rem;
    width: 100%; 
    margin-left: 5px;
    font-family: "custom-font";

}

.input:focus{
    outline: none; 
}

#search-icon {
    color: royalblue;
}

.result-buttons {
    width: 100%; 
    height: 65px;
  background-color: white; 
  display: flex; 
  flex-direction: column; 
  border-color: #dddd;
}